<h1>My Work</h1>

<div class="project">
  <h2>Project 1: Mini Treasure Hunt Game</h2>
  <p>This mini game I made a while back is the main reason I got interested in coding.</p>
  <img src="/Users/surafiel/Downloads/treasure ss.jpg" alt="Mini Treasure Game">
</div>

