<h1>My Contacts</h1>
<p>This is my contact page!.</p>

<div class="Contacts:">
  <h2>Contact Details</h2>
  <p>Email: sanegatu@memphis.edu</p>
  <p>Social Media: <a href="www.linkedin.com/in/surafiel-negatu-584b8b1b5">LinkedIn</a></p>
</div>